#body {
    font-size: 24px;
    text-align: center;
    background-color: (71, 255, 141);

}

#header {
    font-size: 24px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 99, 71);
    padding: 15px;
}

#list-item {
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 10px
}

#main {
    width: 70%;
    float: left;
    background-color: cyan;
}

#sidebar {
    width: 30%;
    float: right;
    background-color: lightgrey;
}

#footer {
    clear: both;
    text-align: center;
    color: cyan;
    background-color: blue;
}